body { 
    align-text:center;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    color: #444;
    background-image: url("../img/fondo4.png"); //-gris
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    
    height: 100%;
}

.banner
{
    width: 260px;
    height: 160px;
    border-radius: 10px 10px 10px 10px;
    background-image: url("../img/nuevo.png");
    background-repeat:no-repeat;
    background-position: center;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
     
}
.proyectos
{
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner.toba_referencia
{
    background-image: url("../img/toba_referencia.png");
    background-repeat:no-repeat;
    background-position: center;
}
.banner.gu_kena
{
    background-image: url("../img/gu-kena.png");
    background-repeat:no-repeat;
    background-position: center;
}
.banner.resultados
{
    background-image: url("../img/resultados.png");
    background-repeat:no-repeat;
    background-position: center;
}
.banner.onelogin
{
    background-image: url("../img/onelogin.png");
    background-repeat:no-repeat;
    background-position: center;
}
.banner.designa
{
    background-image: url("../img/designaciones3.png");
    background-repeat:no-repeat;
    background-position: center;
}
.banner.mapuche
{
    background-image: url("../img/mapuche.png");
    background-repeat:no-repeat;
    background-position: center;
}
.banner.descentralizado
{
    background-image: url("../img/descentralizado.png");
    background-repeat:no-repeat;
    background-position: center;
}
.banner.pilaga
{
    background-image: url("../img/pilaga.png");
    background-repeat:no-repeat;
    background-position: center;
}
.banner.presupuesto
{
    background-image: url("../img/presupuesto3.png");
    background-repeat:no-repeat;
    background-position: center;
}
.banner.rukaja
{
    background-image: url("../img/rukaja.png");
    background-repeat:no-repeat;
    background-position: center;
}
.banner.sed
{
    background-image: url("../img/sed.png");
    background-repeat:no-repeat;
    background-position: center;
}
.banner.tehuelche
{
    background-image: url("../img/tehuelche.png");
    background-repeat:no-repeat;
    background-position: center;
}
.banner.libro_unco
{
    background-image: url("../img/librounco.png");
    background-repeat:no-repeat;
    background-position: center;
}
.banner.extension
{
    background-image: url("../img/extension.png");
    background-repeat:no-repeat;
    background-position: center;
}
.proyectos
{
    //background: #245580;
    background-image: url("../img/muestra.png");
    background-repeat:no-repeat;
    background-position: center;
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
    color: white;
    width: 310px;
    height: 160px;
    opacity: 0;    
    line-height: 160px;
}
.proyectos:hover{
    opacity: 0.9;
} 
/*
.banner.blur{
filter: blur(3px);
transform: scale(0.95);
}*/

.login-pie
{
    color: white;    
}
.cabecera
{
    position: relative; 
    right: -140px;
    background-image: url("../img/fondmenu2.png");
    
    margin-top: 5px;
    float: right;
    width: 180px;
    height: 80px;
    text-align: right;
    
    -webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}
.cabecera:hover{
/*    right: 0%; 
    transition: all 2s ease;*/
-webkit-transform: translate(-140px, 0px);
-moz-transform: translate(-140px, 0px);
-o-transform: translate(-140px, 0px);
-ms-transform: translate(-140px, 0px);
transform: translate(-140px, 0px);
    
    }
.contenedor
{
    height: 150px;
    overflow: hidden;
}
.titulo{
    width: 100%;
    height: 200px;
    position: absolute;
}
.enc-salir:hover
{
    opacity: 0.3;
    transform: scale(1.2);
}
.enc-usuario:hover
{
    opacity: 0.3;
    transform: scale(1.2);
}
.pedco
{
    height: 37.5px;
    width: 100px;
    margin-top: 5px;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.pedco:hover
{
    -webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);   
}
.prePie
{
    height: 50px;
}
/*footer
{
    width: 100%;
    text-align: right;
    background-color: rgba(67, 87, 95, 0.6);
    /*position: absolute;
    bottom: 0;
}*/

html{
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
/*margin: 0 auto -4em;*/
}
.footer, .push {
height: 80px;
background-color: #002633;
text-align:right;
}
.siu
{
    color: #1a6aff;
}    

.cuerpo_js_ci_1000722
{
    border-radius: 50px 49px 0px 0px;
}
.ei-base.ci-base{
    background-color: transparent;
    border-radius: 50px 49px 50px 49px;
    border: none;
}
.ei-form-etiq-oblig
{
    color: white;
    font-weight: bold;
}
.ei-form-etiq{
    color: white;
    font-weight: bold;
}
.ef-fijo
{
    color: white;
    font-weight: bold;
}

.ci-tabs-h-cont {
    border: none;
}
.ci-tabs-h-lista
{
    border: none;
}

        button 
        {
            display: inline-block;
            border-radius: 4px;
            background-color: #6699ff;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 15px;
            padding: 10px;
            width: 110px;
            font-weight: bold;
            /*transition: all 0.5s;
            cursor: pointer;
            margin: 5px;*/
        }
        button:hover
        {
            opacity: 0.8;
        }
        
        /*NO ANDA LO QUE SIGUE ..SE PISA UN ESTILO?*/
/*        #ci_1000722_cambiar_tab_pant_clave{
            border-radius: 4px;
            background-color: #6699ff;
            border: none;
            text-align: center;
        }
        #ci_1000722_cambiar_tab_pant_edicion
        {
            border-radius: 4px;
            background-color: #1a66ff;
            border: none;
            text-align: center;
        }*/
            /*cambio la cosa--------------*/
            .ci-tabs-h-solapa a
            {
                background:#005580 !important;
                color: white;
                border-color: gray;
                font-size: 15px;
            }
            .ci-tabs-h-solapa{
                background:#005580 !important;
                border-radius: 4px;
            }
            .ci-tabs-h-solapa-sel
            {
                background:#005580 !important;
                border-radius: 4px;
                
            }
            .ci-tabs-h-solapa-sel a
            {
                background:#005580 !important;
                color: white;
                border-color: gray;
                font-size: 15px;
            }
        
        /*parte inferior form*/
        .ei-botonera.ci-botonera.ci-botonera-abajo
        {
            border-radius: 0px 0px 50px 49px;
            background-image: url("../img/fondobox.jpg");
            padding: 20px;
        }
            /*parte superior form*/
            .ci-cuerpo
            {
                background-image: url("../img/fondobox.jpg");
                width: 400px;
                padding: 25px;
                border-radius: 50px 49px 0px 0px;
                /*box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                opacity: 0.9;
                filter: alpha(opacity=90);*/
                text-align:center;
                float:center;
            }
            
            .ei-barra-sup.ei-form-barra-sup.ei-barra-sup-sin-botonera
            {
                background: #001133;
                border-color: #001133;
            }
            
            